<html>

<head>

  <title>Patty Alert</title>

  <link href="css/grid.css" rel="stylesheet" type="text/css" />
  <link href="css/main.css" rel="stylesheet" type="text/css" />

  <script data-main="scripts/main" src="scripts/vendor/require.js"></script>

</head>

<body>

  <div class="status <%= @level %>">
    <h1
      data-0="font-size:2em;color:rgba(0,0,0,1);"
      data-200="font-size: 0em;color:rgba(0,0,0,0);">
      <%= @status %>
    </h1>
  </div>

  <div class="main"
    data-0="margin-top: 17em;"
    data-200="margin-top: 0em;">
    <div class="container">
      <div class="header row">
        <div class="col-12 header">
          <h1>Patty Alert Level:</h1>
          <div class="hero <%= @level %>">
            <h1><span class="level"><%= @level.capitalize %></span></h1>
          </div>
        </div>

        <div id="signup" class="col-8">
          <img class="loader" src="img/loader.gif" />
        </div>

        <div class="col-4">
          <h2>But seriously...</h2>
          <p>What's the deal here?</p>
          <p>Look we love Chicken Patties... they're like the bee's knees. Unfortunately unless you go to the cafeteria every day, it's hard to catch Chicken Patty day.</p>
          <p>We monitor the cafeteria website and sightings in the wild to keep you informed.</p>
        </div>
      </div>

      <div class="footer row">
        <p class="col-12">brought to you by colby, dan & justin</p>
      </div>
    </div>
  </div>

<!-- templates -->
<%= erb(:signup, :layout => false) %>
<%= erb(:confirm, :layout => false) %>

</body>

</html>